html,
body {
  background: url("/images/water-splash-bg-1.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

html .overlay,
body .overlay {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(146, 146, 146, 0.5);
}

.full-height {
  height: 100vh;
}

.flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
  z-index: 100;
}

.title {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 84px;
}

.subtitle {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 40px;
  margin-bottom: 55px;
}

.links > a {
  color: #fff;
  padding: 0 25px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 20px;
}

